<style>
    .search{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
}
    
</style>
<script>
    appVars = {
            exams: <%- JSON.stringify(exams) %> //examenes para option

            }
   </script>

  
  
<div  class="row" style="margin-top: 70px;padding: 20;" ng-app="HistoricModule" ng-controller="HistoricController" ng-cloak>
      <div class="modal fade" id="createPatientModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form role="form" data-toggle="validator">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear Paciente</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <input type="text" name="name" class="form-control" ng-model="newPatient.name" placeholder="Nombre" required>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <input type="text" name="lastname" class="form-control" ng-model="newPatient.lastName" placeholder="Apellido" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <input type="text" id="rut_validator" name="rut" class="form-control" ng-model="newPatient.rut" placeholder="Rut" required>
                        </div>    
                    </div>
                    <div class="row" ng-show="newPatient.error">
                        <div class="alert alert-danger" style="margin:15px">
                            <strong>Error!</strong> No se puede crear este paciente, probablemente ya existe, intente buscarlo nuevamente
                        </div>
                    </div>
                    </div>
                </div>
               
                <div class=" form-group modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success pull-rigth" ng-click="savePatient()" ng-disabled="isSaving">Crear</button>
                </div>
            </div>
            </form>
        </div>
    </div>

   <!--Modal Company-->
    <div class="modal fade" id="createCompanyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear Empresa</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <input type="text" class="form-control" ng-model="newCompany.name" placeholder="Nombre">
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <input type="text" id="rut_validator2" class="form-control" ng-model="newCompany.rut" placeholder="Rut">
                        </div>    
                    </div>
                    <div class="row" ng-show="newCompany.error">
                        <div class="alert alert-danger" style="margin:15px">
                            <strong>Error!</strong> No se puede crear esta Empresa, probablemente ya existe, intente buscarlo nuevamente
                        </div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success pull-rigth" ng-click="saveCompany()" ng-disabled="isSaving">Crear</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    
    <div class="modal fade" id="newQuotation" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nueva Cotización</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class=" col-sm-4 ">
                            <div class="form-group">
                                <label >Tipo de Registro</label>
                            </div>
                        </div>
                        <div class=" col-sm-6 ">
                            <div class="form-group">
                                <label >Descripción</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveQuotation(newQuotation)">Guardar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
<!--    MODEL CREACION KIT-->
    <div class="modal fade" id="newKitModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Kit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                         <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Nombre</label>
                        </div>
                        <div class=" col-sm-6 ">
                                <input ng-model="newKit.name" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Descripción</label>
                        </div>
                        <div class=" col-sm-6 ">
                            <textarea ng-model="newKit.description" ></textarea>
                        </div>
                    </div>
                     <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Precio</label>
                        </div>
                        <div class=" col-sm-6 ">
                            <span> {{newKit.price}} </span>
                        </div>
                         
                    </div>
                    <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Margen</label>
                        </div>
                        <div class=" col-sm-6 ">
                            <span> {{newKit.profit}} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Margen con descuento</label>
                        </div>
                        <div class=" col-sm-6 ">
                            <span> {{newKit.profitAfterDiscount}} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Habilitacion Manual</label>
                        </div>
                        <div class=" col-sm-6 ">
                            <span> {{newKit.enableCostManual}} </span>
                        </div>
                         
                    </div>
                    <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Cuotas</label>
                        </div>
                        <div class=" col-sm-6 ">
                            <span> {{newKit.dues}} </span>
                        </div>
                         
                    </div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveKit()">Guardar</button>
                </div>
            </div>
            </form>
        </div>
    </div>

<!--    MODAL CREACION TEMPLATE-->
    <div class="modal fade" id="newTemplateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nueva Plantilla</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Nombre</label>
                        </div>
                        <div class=" col-sm-6 ">
                                <input ng-model="template.name" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class=" col-sm-4 ">
                                <label >Descripción</label>
                        </div>
                        <div class=" col-sm-6 ">
                            <textarea ng-model="template.description" ></textarea>
                        </div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveTemplate()">Guardar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
<!--    MODEL SELECCION KIT-->
    <div class="modal fade" id="selectKitModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Kit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class=" col-sm-12 ">
                        <table style="width: 100%">
                            <thead>
                            <th>Nombre</th>
                            <th>Descripciion</th>
                            <th>Precio</th>
                            <th>Asignar</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lkit in kits">
                                    <td>{{lkit.name}}</td>
                                    <td>{{lkit.description}}</td>
                                    <td>{{lkit.price | currency:"$":0}}</td>
                                    <td><button type="button" ng-click="chargeKit(lkit)" class="btn btn-danger" data-dismiss="modal">Usar Kit</button></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveKit()">Guardar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
<!--    MODEL SELECCION TEMPLATE-->
    <div class="modal fade" id="selectTemplateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Kit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class=" col-sm-12 ">
                            <table>
                            <thead>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Asignar</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lTemplate in templates">
                                    <td>{{lTemplate.name}}</td>
                                    <td>{{lTemplate.description}}</td>
                                    <td><button type="button" ng-click="chargeTemplate(lTemplate)" class="btn btn-danger pull-right" data-dismiss="modal">Usar Plantilla</button></td>
                                </tr>
                            </tbody>
                                
                        </table>
                        
                            
                                
                                
                        </div>
                        
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveKit()">Guardar</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="row search">
        <div class="col-sm-2">
            
                     <div class="padded-row"> 
<!--                         <label>Buscador de Items</label>-->
<angucomplete-alt id="patient"
              
              placeholder="Buscar Paciente"
              pause="500"
              text-searching="Buscando..."
              text-no-results="No hay resultado"
              selected-object="addPatient"
              remote-url="/patient/findAll?s="
              remote-url-data-field=""
              title-field="name,lastName"
              description-field="rut"
              input-class="form-control form-control-small"
              match-class="highlight"
              class="ng-isolate-scope"
              />
          </div>
          
  
  </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-success form-control" ng-click="openNewPatient()"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
             
  <div class="col-sm-2 search">
<!-- <label>Buscador de Cliente</label>-->

  <div class="padded-row"> 
  <angucomplete-alt id="company"
              
              placeholder="Buscar Empresa"
              pause="500"
              text-searching="Buscando..."
              text-no-results="No hay resultado"
              selected-object="addCompany"
              remote-url="/company/findAll?s="
              remote-url-data-field=""
              title-field="name"
              description-field="rut"
              input-class="form-control form-control-small"
              match-class="highlight"
              class="ng-isolate-scope"
              />
          </div>
  </div>
  <div class="col-sm-1">
        <button type="button" class="btn btn-success form-control" ng-click="openNewCompany()"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
  <div class="col-sm-2"> 
        <select class="form-control" ng-model="newHistoric.exam" 
                    ng-options="option.name for option in exams track by option.id">
                
            </select>
  </div>  
    <div class="col-sm-2"> 
        
<!--        <input type="text" class="form-control" uib-datepicker-popup ng-model="newHistoric.registerDate" is-open="status.opened" datepicker-options="dateOptions" close-text="Close" />-->
        <input type="date" class="form-control" ng-model="newHistoric.registerDate" ng-change="getHistorics();" />
        
        
    </div> 
</div> 
<div class="row">
    <div class="col-sm-12"> 
        <div class="well">
            <div class="row">
                <div class="col-sm-6"> 
                    <input type="text"  class="form-control" ng-model="newHistoric.respApplication" placeholder="Responsable Solicitud">
                </div>
                <div class="col-sm-6"> 
                    <input type="text"  class="form-control" ng-model="newHistoric.cc" placeholder="Centro de Costo">
                </div>
            </div>
        </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-4"> 
        <button type="button" class="btn btn-warning form-control" ng-click="clarAll()">Limpiar formulario</button>
    
    </div>   
    <div class="col-sm-4 pull-right"> 
    
        <button type="button" class="btn btn-success  form-control" ng-click="saveHistoric()" ng-disabled="validateHistoric()">Registrar</button>
    </div>   


</div>
    
<!--    <div class="row" ng-show="customer">-->
<!--<form name="quotationForm">-->

<div class="table-responsive">
  <table class="table">
    <thead>
        <th>Nombre</th>
        <th>Empresa</th>
        <th>Examen</th>
        <th>Responsable Solicitud</th>
        <th>Centro de Costo</th>
        <th>Fecha</th>
    </thead>
    <tbody>
        <tr ng-repeat="historic in historics">
            <td>{{historic.patient.name}} {{historic.patient.lastName}}</td>
            <td>{{historic.company.name}}</td>
            <td>{{historic.exam.name}}</td>
            <td>{{historic.respApplication}}</td>
            <td>{{historic.cc}}</td>
            <td>{{historic.registerDate |date:"dd-MM-yy" }}</td>
        </tr>
    </tbody>
  </table>
</div>     


{{newHistoric}}

</div>

